*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p,
figure {
  margin: 0;
}

body {
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
summary,
select {
  cursor: pointer;
}

a {
  color: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

pre {
  margin: 0;
}
